<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="molokaistudio" translate="label" sortOrder="300">
            <label>MolokaiStudio</label>
        </tab>
        <section id="molokaistudio_customerreviews" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Google Customer Reviews</label>
            <tab>molokaistudio</tab>
            <resource>MolokaiStudio_GoogleCustomerReviews::molokaistudio_customerreviews</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="merchant_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant ID</label>
                    <comment>Your Merchant Center ID. You can get this value from the Google Merchant Center.</comment>
                </field>
            </group>

            <group id="survey" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Survey options</label>
                <field id="position" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <comment>Specifies how the opt-in module's dialog box is displayed.</comment>
                    <source_model>MolokaiStudio\GoogleCustomerReviews\Model\Config\Source\SurveyPosition</source_model>
                </field>

                <field id="show_products_in_survey" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show products ids</label>
                    <comment>Insert products ids into survey snippet</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="estimated_delivery_time" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Estimated delivery time</label>
                    <comment>Estimated delivery time is calculated by adding value from this field to date of placing order.</comment>
                </field>
            </group>

            <group id="badge" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Badge options</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Badge enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="position" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <comment>Position where badge is rendered.</comment>
                    <source_model>MolokaiStudio\GoogleCustomerReviews\Model\Config\Source\BadgePosition</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
